* {
    box-sizing: border-box;
    font-family: "Outfit", sans-serif !important;
}

body {
    margin: 0;
    padding: 0;
}

.prijava-naslov {
    font-size: 60px;
    color: white;
    text-align: center;
    width: 550px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.prijava-text {
    align-items: center;
    text-align: center;
}

.prijava-ozadje {
    background-color: rgb(20, 20, 20);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: rgb(20, 20, 20);
    min-height: 80px;
    border-bottom: white solid 1px;
}

.brand-title1 {
    font-size: 2rem;
    margin: 1rem;
    margin-left: 1.5rem;
}

.navbar-links1 ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links1 li {
    list-style: none;
}

.navbar-links1 li a {
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
    padding: 1.5rem;
    display: block;
}

.navbar-links1 li:hover {
    background-color: rgb(32, 32, 32);
}

.footer-container {
    background-color: rgb(20, 20, 20);
}

.toggle-button1 {
    position: absolute;
    top: 2rem;
    right: 1.5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button1 .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.qr_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    max-width: 600px;
    height: auto;
    min-height: 50vh;
    overflow: hidden;
}

.user_name {
    font-size: 2em;
    font-weight: 450;
    color: white;
}

.scan-count {
    font-size: 1.5em;
    color: white;
}

.qr_pic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
}

.displayed_content {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 20, 20);
    color: white;
}

.displayed_content h1 {
    width: 100%;
    text-align: center;
}

.other_content {
    width: 70%;
    margin: auto;
    padding: 40px 0;
    border-top: 2px solid rgb(20, 20, 20);
    border-bottom: 2px solid rgb(20, 20, 20);
    color: rgb(20, 20, 20);
    background-color: white;
    margin-top: 13px;
    margin-bottom: 13px;
}

.content_row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 80px;
}

.admin-container {
    background-color: rgb(20, 20, 20);
    color: white;
}

#admin-button {
    color: white;
}

.text_box {
    width: 50%;
    padding: 20px;
    font-size: 1.3rem;
}

.text_box h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.image_box {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_box img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/*
.other_content {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}
*/

@media (max-width: 700px) {
    .scan-count {
        font-size: 1.3em;
        margin-top: 30px;
    }

    .content_row {
        flex-direction: column;
    }

    .prijava-container {
        width: 80%;
    }

    .reverse {
        flex-direction: column-reverse;
        text-align: center;
    }

    .text_box,
    .image_box {
        width: 100%;
    }

    .qr_container {
        width: 90%;
        min-height: 30vh;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .qr_pic {
        max-width: 80%;
        min-height: auto;
    }

    .toggle-button1 {
        display: flex;
    }

    .navbar-links1 {
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: max-height 0.4s ease, opacity 0.4s ease;
        width: 100%;
    }

    .navbar-links1 li:hover {
        color: rgb(32, 32, 32);
    }

    .navbar-links1.active {
        max-height: 500px; /* prilagodi po potrebi */
        opacity: 1;
    }

    .navbar1 {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links1 ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links1 li {
        text-align: center;
    }

    .navbar-links1 li a {
        padding: 0.5rem 1rem;
    }

    .navbar-links1.active {
        display: flex;
    }
}

.gradient-custom-2 {
    /* fallback for old browsers */
    background: #7688db;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(
        to right,
        rgba(118, 136, 219, 0.5),
        rgba(84, 24, 145, 0.5)
    );

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(
        to right,
        rgba(118, 136, 219, 0.5),
        rgba(84, 24, 145, 0.5)
    );
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}
@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: 0.3rem;
        border-bottom-right-radius: 0.3rem;
    }
}
