* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.navbar1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    min-height: 80px;
}

.brand-title1 {
    font-size: 2rem;
    margin: 1rem;
    margin-left: 1.5rem;
}

.navbar-links1 ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links1 li {
    list-style: none;
}

.navbar-links1 li a {
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
    padding: 1.5rem;
    display: block;
}

.navbar-links1 li:hover {
    background-color: #555;
}

.toggle-button1 {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button1 .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.qr_container {
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
    width: 70%;
    overflow: hidden;
    height: 80vh;
}

.qr_pic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
}

.displayed_content {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    justify-content: center;
    align-items: center;
}

.displayed_content h1 {
    width: 100%;
    text-align: center;
}

@media (max-width: 600px) {
    .toggle-button1 {
        display: flex;
    }

    .navbar-links1 {
        display: none;
        width: 100%;
    }

    .navbar1 {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links1 ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links1 li {
        text-align: center;
    }

    .navbar-links1 li a {
        padding: 0.5rem 1rem;
    }

    .navbar-links1.active {
        display: flex;
    }
}
